__pycache__/
*.py[co]
*.pyd
*.so
build/
dist/
wheels/
*.egg-info

.venv
.env
venv

logs/
.gitkeep

data/
dags/data/
volumes/

.airflow/

.dockerignore
.docker/
.docker-build-cache/

airflow.cfg
webserver_config.py